<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bower_components/nvd3/build/nv.d3.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/angular-material-icons/angular-material-icons.css"></script>
		<link rel="stylesheet" type="text/css" href="main.css"/>
	</head>
	<body ng-app="app" ng-cloak ng-controller="mainController as vm" layout-fill layout='column'>
					
		<!--header-->
		<md-toolbar>
        	<div class="md-toolbar-tools">       
				<md-button class="md-icon-button" aria-label="Navigation" ng-click="vm.openLeftMenu()">
					<ng-md-icon icon="menu" style="fill: white" size="24"></ng-md-icon>
				</md-button>
          		<h2><span>{{ vm.title }}</span></h2>
        	</div>
    	</md-toolbar>
		
		<!--navigation-->
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<md-toolbar md-scroll-shrink>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Navigation" ng-click="vm.openLeftMenu()">
						<ng-md-icon icon="navigate_before" sytle="fill:white" size="24"></ng-md-icon>
					</md-button>
					<h3>
						Navigation
					</h3>
				</div>
		    </md-toolbar>
			<md-list class="md-padding">
				<md-list-item>					
					<md-button class="nav-button side-bar" ng-href="../#/" ng-click="vm.openLeftMenu()">Home</md-button>
				</md-list-item>
			</md-list>
			
	    </md-sidenav>

		<!--view port for SPA-->				
		<main class="md-padding" layout="row" flex>			
			<ng-view layout="column" layout-fill layout-padding></ng-view>			
		</main>
		
		<!--footer-->		
		<md-toolbar class="md-medium-short">
			<div class="md-toolbar-tools">        	
          		<span>FOOTER</span>        	
			</div>
      	</md-toolbar>   
		  		
		<!-- libraries -->		        			
		<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
		<script type="text/javascript" src="/bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="/bower_components/nvd3/build/nv.d3.min.js"></script>	
		<script type="text/javascript" src="/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
		
		<script type="text/javascript" src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
		
		<!-- applicaiton -->
		<script type="text/javascript" src="/app/app.js"></script>
		<script type="text/javascript" src="/app/components/home/homeController.js"></script>					
		<script type="text/javascript" src="/app/services/services.js"></script>		
	</body>
</html>